apiVersion: v1
kind: PersistentVolume
metadata:
  name: mongodb-pv
  labels:
    type: local
    app: mongodb
spec:
  storageClassName: manual
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  # This tells the PV where the data lives on the Minikube node
  hostPath:
    path: "/mnt/data/mongo-inventory"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongodb-pvc
  namespace: dev
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  # The selector ensures this PVC finds the correct PV labeled 'app: mongodb'
  selector:
    matchLabels:
      app: mongodb

