services:
  frontend:
    build: ./frontend
    ports: ["80:8080"]
    networks:
      - frontend_net
    depends_on:
      - auth
      - backend
    restart: always

  auth:
    build: ./auth
    environment:
      - MONGO_URI=${MONGO_URI}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    networks:
      - frontend_net
      - backend_net
    depends_on:
      #mongodb: { condition: service_healthy }   # Can be used in dev platform
      cache: { condition: service_healthy }
    restart: always

  backend:
    build: ./backend
    environment:
      - MONGO_URI=${MONGO_URI}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    networks:
      - frontend_net
      - backend_net
    depends_on:
      #mongodb: { condition: service_healthy }   # Can be used in dev platform
      cache: { condition: service_healthy }
    restart: always

  # MongoDB Service (Used primarily for DEV)
  mongodb:
    profiles:
      - dev
    #image: mongo:6.0
    image: mongo:6-jammy
    environment:
      # If no env value given then default user & pass will be "admin" & "password"
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME:-admin}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD:-password}
    volumes:
      - mongo_inv_data:/data/db
    networks:
      - backend_net
    healthcheck:
      # mongosh is the modern shell for healthchecks in Mongo 6+
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always

  cache:
    image: redis:7-alpine
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    networks:
      - backend_net
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always

networks:
  frontend_net:
    driver: bridge
  backend_net:
    internal: false

volumes:
  mongo_inv_data:
